* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-size: 14px;
  position: relative;
  font-family: 'Lato', sans-serif;
}

.list-style-none{
  list-style: none;
}

.flex-row {
  display: flex;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

#background-header {
  height: 15vh;
  background-color: #009688;
}

#background-main {
  height: 85vh;
  background-color: #DBDBD3;
}


.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85vw;
  height: 95vh;
}

#chat-list-section {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  background-color: #FAFAFA;
}
#header-top-right {
  margin-bottom: 3vw;
}
#chat-msg {
  width: 70%;
  height: 100%;
  background-image: url(../img/mine.jpg);
}
.chat-messages {
  overflow-y: scroll;
}

.chat-messages {
  display: none;
}
.chat-messages.active {
  display: block;
}

.message {
  min-height: 45px;
  min-width: 20%;
  max-width: 80%;
  clear: both;
  margin:.5vw 5vw;
  padding: .8vw;
  border-radius: 5px;
  text-align: right;
}

.msg-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .2vw;
}

.msg-text i {
  display: inline-block;
  padding-left: .7vw;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.2);
}

.message time {
  display: block;
  font-size: 9px;
  color: rgba(0, 0, 0, 0.2);
}

.message.sent {
  float: right;
  background-color: #D5FABA;
}
.message.received {
  float: left;
  background-color: white;
}

.header-top {
  height: 60px;
  width: 100%;
  background-color: #EAEAEA;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5vw;
}

#header-top-left {

  border-right: 1px solid rgba(0, 0, 0, 0.1);

}

.avatar {
  height: 90%;
  width: auto;
  border-radius: 50%;
  padding-right: .7vw;
}

.icons i {
  padding-right: .8vw;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.2);
}

#header-notify {
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: #8ED9FD;
}

#header-notify i {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .7vw;
  color: #8ED9FD;
  background-color: white;
  font-size: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.text p {
font-size: 14px;
font-weight: 600;
}

.text a,
small {
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
}


#chat-list-main {
  overflow-y: scroll;
  flex-grow: 2;
  background-color: #FAFAFA;
}

#chat-search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 35px;
  margin: .4vw;
}

#chat-search i {
  color: rgba(0, 0, 0, 0.2);;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 0 1vw;
  background-color: white;
  border-top: 1px solid #F2F2F2;
  border-left: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;


}

#chat-search input {
 padding: .6vw;
 border: 0;
 border-top: 1px solid #F2F2F2;
 border-right: 1px solid #F2F2F2;
 border-bottom: 1px solid #F2F2F2;
 height: 30px;
 width: 85%;
 font-size: 9px;


}

#chat-list {
  background-color: white;
  height: 100%;
  width: 96%;
  border: 1px solid #F2F2F2;
}

.user {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
  padding: .5vw;
}

#chat-list ul li {
  height: 75px;
  padding: .7vw;
  border-bottom: .4px solid rgba(0, 0, 0, 0.1);

}

#chat-list .text small {
  font-size: 13px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.3);
}

.time {
  position: absolute;
  top: 21%;
  right: 4%;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.2);

}


#footer {
  width: 70%;
  position: fixed;
  bottom: 0;
}

#footer i {
  font-size: 20px;
}

#footer input {
  flex-grow: 2;
  height: 80%;
  margin: 0 3vw;
}

#footer .far.fa-smile {
  margin-left: 3vw;
}
#footer .fas.fa-paper-plane {
  margin-right: 3vw;
}

#template {
  display: none;
}

.hidden {
  display: none;
}
