* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  position: relative;
  font-family: 'Roboto', sans-serif;
}

.flex-row {
  display: flex;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

#background-header {
  height: 15vh;
  background-color: #009688;
}

#background-main {
  height: 85vh;
  background-color: #DBDBD3;
}


.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85vw;
  height: 95vh;
  background-color: beige;
}

#chat-list-section {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  background-color: #FAFAFA;
}
#chat-msg {
  width: 70%;
  height: 100%;
  background-image: url(../img/sfondo.jpeg);
}
#chat-list-head {
}

.header-top {
  height: 60px;
  width: 100%;
  background-color: #EAEAEA;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5vw;
}

#header-top-left {

  border-right: 1px solid rgba(0, 0, 0, 0.1);

}

.avatar {
  height: 90%;
  width: auto;
  border-radius: 50%;
  padding-right: .7vw;
}

.icons i {
  padding-right: .8vw;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.2);
}

#header-notify {
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: #8ED9FD;
}

#header-notify i {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .7vw;
  color: #8ED9FD;
  background-color: white;
  font-size: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#text p {
font-size: 14px;
font-weight: 500;
}

#text a,
small {
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
}


#chat-list-main {
  overflow-y: auto;
  flex-grow: 2;
  background-color: #FAFAFA;
}

#chat-search {
  height: 35px;
  margin: .4vw;
}

#chat-search input {
  padding: .6vw;
 border: 0;
 border: 1px solid #F2F2F2;
 height: 30px;
 width: 100%;
 margin: auto;

}

#chat-list {
  background-color: white;
  height: 100%;
  width: 96%;
  border: 1px solid #F2F2F2;
}

.user {
  display: flex;
  align-items: center;
  height: 60px;
}

#chat-list ul li {
  height: 75px;
  padding: .7vw;
  border-bottom: .4px solid rgba(0, 0, 0, 0.1);

}

#chat-list #text small {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.3);

}
